

.editDeck {
  --timingSpacing: 0.5em;
  --facultySpacing: 0.5em;
  width: 25em;
  /*min-height: 40em;*/
  border-radius: 0.62em;
  padding: 1em 1.5em 1.2em 1.5em;
  box-shadow: 0 -1em 2em rgba(12, 31, 100, 0.2), 0 0.3em 1em rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    90deg,
    rgba(37, 37, 122, 1) 24%,
    rgba(47, 124, 140, 1) 100%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  transition: all 0.5s ease;
}
/*Status Bar*/
.editDeck__statusBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editDeck__statusText {
  color: whitesmoke;
  font-weight: 600;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2em;
  word-spacing: 0.3em;

  font-weight: 400;
  font-family: "Fredoka One", cursive !important;
}
/*Main Title*/

#editDeck__title {
  width: 100%;
  font-size: 1.2em;
  margin-bottom: var(--timingSpacing);
  padding: 0.5em 1em;
  outline: none;
  border: 1px solid grey;
  border-radius: 0.3em;
  box-shadow: var(--shadow);
  font-weight: 600;
  color: var(--primary);
}

#editDeck__title:focus {
  box-shadow: 0px 0px 0px 2px var(--primary);
}

#editDeck__title::placeholder {
  color: rgb(93, 92, 92);
  font-weight: 400;
}

/*Timing Controls*/
.editDeck__timingControls {
  width: 100%;
  display: flex;
  justify-content: center;
}
/*Weekday Select*/

.editDeck__weekday {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: var(--timingSpacing);
}

.editDeck__weekday > select {
  width: 100%;
  font-size: 1.2em;
  padding: 0.4em 0.5em 0.4em 1em;
  outline: none;
  border-radius: 0.3em;
  background: whitesmoke;
  color: var(--primary);

  border: 1px solid grey;
  box-shadow: var(--shadow);
  cursor: pointer;

  font-weight: 600;
}

.editDeck__dropdown {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2.8em;
  border-radius: 0px 0.3em 0.3em 0px;
  background: var(--primary);

  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.editDeck__dropdown {
  color: whitesmoke;
}

option {
  background: var(--primary);
  color: whitesmoke;
  outline: none;
}

/*StartTime & EndTime*/

.editDeck__time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editDeck__time > div {
  width: 10.3em;
  display: flex;
  box-shadow: 0 3px 5px 0 rgba(200, 204, 218, 0.2);
  border-radius: 0.3em;
}

.editDeck__time > div > input {
  width: 100%;
  border: none;
  outline: none;

  border-radius: 0px 0.3em 0.3em 0px;
  font-weight: 600;
  color: var(--primary);
  text-align: center;
}

.editDeck__time > div > input:focus {
  box-shadow: 0px 0px 0px 2px var(--primary);
}

.editDeck__time > div > input::placeholder {
  color: var(--primary);
  color: rgb(148, 148, 148);
}

.editDeck__iconContainer {
  background: var(--primary);
  display: flex;
  padding: 0.5em;
  border-radius: 0.3em 0px 0px 0.3em;
}

.editDeck__iconContainer i {
  font-size: 1.4em;
  color: White;
  justify-content: center;
  align-items: center;
}

/*Divider*/

#divider {
  width: 100%;
  margin: 0.8em 0em;
  height: 1px;
  opacity: 0.5;
  box-shadow: 0px 1px 0.3em 1px rgba(255, 255, 255, 0.4);
}

/*Tabs*/

.editDeck__tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.editDeck__tabs > button {
  font-weight: 400;
  display: flex;
  flex: 1;
  height: 2.7em;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0em;
  font-size: 1.2em;
  color: var(--primary);
}

.editDeck__tab--active {
  border-bottom: 0.16em solid #b6244f !important;
}

.editDeck__tab i {
  /*Material UI generated few elements so cant use > i*/
  margin-right: 0.5em;
}

/*SearchFaculties Container*/

section.selectFaculties {
  margin-top: 0.6em;
  width: 100%;
}

/*SearchBar For Faculties*/
.editDeck__searchFaculty {
  width: 100%;
  margin-bottom: var(--facultySpacing);
  display: flex;
  align-items: stretch;
  border-radius: 1.2em;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.editDeck__searchFaculty input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0 1em;
  padding-left: 1.5em;
  color: var(--primary);
  font-family: "Antic Slab", serif;
  font-size: 1.2em;
  font-weight: 600;
}

.editDeck__searchFaculty input::placeholder {
  font-family: "Antic Slab", serif;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--primary);
}

button.editDeck__searchButton {
  padding: 0.5em 1em;
  font-size: 1.2em;
  background: var(--primary);
  color: whitesmoke;
  border: none;
  outline: none;
  cursor: pointer;
  border-left: 0.125em solid whitesmoke;
  border: 0 20 20 0;
}

button.editDeck__searchButton:hover {
  background: #4d529e;
}

.editDeck__searchClearButton{
  padding-right: 0.5em;
  background: whitesmoke;
  color:var(--primary);
  border: none;
  outline: none;
  cursor: pointer;
}

/*faculty 404 */

.editDeck_facultyEmpty{
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 0.5em 0em;
  font-size: 1.2em;
}

/*Main Container For Faculty List*/
.editDeck__items {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

/*For skeleton loaders*/
.editDeck__items > li{
  background: whitesmoke;
  margin-bottom: 0.3em;
}


/*Individual Cards for Faculty Section*/
.editDeck__item {
  width: 100%;
  background: whitesmoke;
  color: #232547;
  font-size: 1.16em;
  
  position: relative;
  cursor: pointer;
  padding: 0.3em 0.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
}
li:nth-last-child(1) .editDeck__item {
  margin-bottom: 0;
}

.editDeck__item--checked {
  background: var(--primary);
  color: whitesmoke;
}

.editDeck__item--checked .editDeck__status {
  border: 1px solid transparent;

  background: whitesmoke;
}

.editDeck__item:hover {
  background: var(--primary);
  color: whitesmoke;
}

/*Custom Radio Button*/
.editDeck input[type="radio"] {
  display: none;
}

.actualradio {
  width: 1.2em;
  height: 1.2em;
  border: 2px solid var(--primary);
  background: whitesmoke;
  box-sizing: border-box;
}

.actualradio::after {
  content: "X";
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: inline-block;
  transform: scale(0);
  transition: transform 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}

.editDeck input[type="radio"]:checked + .actualradio::after {
  transform: scale(1);
}

.editDeck input[type="radio"]:checked + .actualradio {
  border: none;
}

/*Serial Number*/

.editDeck__index {
  margin-left: 1em;
  color: var(--primary);
  font-weight: 600;
}

.editDeck__item:hover .editDeck__index,
.editDeck input[type="radio"]:checked + div + .editDeck__index {
  color: rgb(245, 244, 244);
}

/*Name&Image Section of item*/
.editDeck__faculty {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editDeck__image {
  width: 2.5em;
  height: 2.5em;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(221, 219, 219);
  filter: drop-shadow(0 0.125em 0.25em rgba(9, 30, 80, 0.4));
  margin: 0px 0.625em;
}

.editDeck__faculty > span {
  font-weight: 400;
}

/*Status Tag Section*/
.editDeck__status {
  font-size: 0.6em;
  font-weight: 200;
  color: var(--primary);
  color: #28901f;
  border: 1px solid #28901f;
  box-shadow: 0 0 1px transparent;
  border-radius: 10px;
  padding: 0.2em 0.4em;

  position: absolute;
  right: 0.625em;
}

.editDeck__item:hover .editDeck__status {
  background: whitesmoke;
  border: 1px solid transparent;
  font-weight: 400;
}

.editDeck__status--failed {
  color: red;
  border: 1px solid red;
}

/*Pagination Controls*/
.editDeck__controls {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: var(--facultySpacing);
}

.editDeck__controls button {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  padding: 0.3em 0.6em;
  outline: none;
  border: none;
  background: whitesmoke;

  color: var(--primary);
  cursor: pointer;
  box-shadow: 0 0.25em 1em 0 rgba(251, 251, 251, 0.2);
}

.editDeck__controls button:hover {
  background: var(--primary);
  color: whitesmoke;
}

#editDeck__previous {
  border-right: 0.125em solid var(--primary);
  border-radius: 1.25em 0px 0px 1.25em;
}

#editDeck__next {
  border-right: none;
  border-radius: 0px 1.25em 1.25em 0px;
}

/*Disabled Class for Pagination Controls*/
.editDeck__button--disabled {
  color: rgb(121, 120, 120) !important;
  cursor: default !important;
  pointer-events: none ;
}

.editDeck__button--disabled:hover {
  background: white !important;
}

/**/

#skeleton{
  margin-left: 1.5em !important;
}

/*Invite Section*/
section.addFaculties {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  padding: 2em 0em 1em 0em;
}

section.addFaculties > * {
  margin-bottom: 0.8em;
}

.addFaculties__note {
  color: #737b82;
  font-size: 0.8em;
}

#addFacultyButton {
  margin-bottom: 0;
  margin-top: 0.6em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 12em;
  background: #b6244f;
}

#save {
  margin-top: 0em;
  font-size: 1.2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#save span {
  margin-left: 0.5em;
}

#save i {
  font-size: 1.2em;
  color: var(--primary);
}
