:root {
  --borderColor: 52, 56, 107;
  --insideColor: #34386b;
}

/*SearchBar*/

.showdata__search {
  position: relative;
  margin-left: 4em;
  margin-bottom: 1em;
  background: rgb(255, 254, 254);
  width: 25em;

  display: flex;
  align-items: stretch;
  border-radius: 1.2em;

  box-shadow: var(--shadow);
}

.showdata__search input {
  border-radius: 1.2em 0em 0em 1.2em;
  background: transparent;
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0 1em;
  padding-left: 1.5em;
  color: var(--primary);
  font-family: "Antic Slab", serif;
  font-size: 1.2em;
  font-weight: 600;
  border: 1px solid gray;
}

.showdata__search input::placeholder {
  font-family: "Antic Slab", serif;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--primary);
}

.showdata__search input:focus {
  border: 1px solid var(--primary);
}

button.showdata__searchButton {
  padding: 0.5em 1em;
  font-size: 1.2em;
  background: var(--primary);

  color: whitesmoke;
  border: none;
  outline: none;
  cursor: pointer;
  border-left: 0.125em solid whitesmoke;
  border-radius: 0em 1.2em 1.2em 0em;
}

button.showdata__clearButton{
  padding: 0.1em;
  font-size: 1.8em;
  top:50%;
  left:104%;
  transform: translateY(-50%);
  color:var(--primary);
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  position: absolute;

}

/*Search Text*/

.showdata__searchStatus{
  margin-top: -0.3em;
  margin-left: 4.5em;
  margin-bottom: 0.1em;
  color:rgb(97, 96, 96);
  font-size: 1.1em;
}

/*Caraousel*/

.weekdayContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 14px;
}

.weekdayContainer > i {
  font-size: 2.2em;
  cursor: pointer;
  transition: transform 0.1s ease;
  align-self: center;
  color: var(--primary);
  user-select: none;
}

.weekdayContainer > i:hover {
  transform: scale(1.1);
}

/*Individual Slots*/

.weekday {
  margin-top: 0.5em;
  display: grid;
  width: 20em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

.weekday__title {
  border-radius: 15px 15px 0px 0px;
  background: rgb(var(--borderColor));
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.2em 0.2em;

  letter-spacing: 0.15em;
}

.weekday__title span:nth-child(1) {
  font-family: "Fredoka One", cursive !important;
  font-size: 1.8em;
  padding: 0.2em 0em;
  flex: 5;
  text-align: center;
}

.weekday__classCount {
  flex: 2;
  color: whitesmoke;
  padding: 0.2em 0.2em;
}

.weekday__slots {
  padding: 0.8em 0.2em;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.05);

  box-sizing: border-box;
  border: 2px solid rgba(var(--borderColor), 0.3);
  border-top: none;
  border-radius: 0px 0px 15px 15px;
  /*Some offset for padding*/
  max-height: 31.6em;
  overflow-y: auto;

  /*Experimental*/
  overflow-x: hidden;
}

.weekday__slots--empty {
  background: rgba(255, 255, 255, 1);
}

/**/
#style-1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

#style-1::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(155, 152, 152);
  visibility: hidden;
}

#style-1:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
/**/

.weekday__slots .weekday_slotContainer:not(.weekday__empty) {
  margin-bottom: 0.8em;
}

.weekday_slotContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weekday_slotIndex {
  font-family: "Fredoka One", cursive;
  align-self: start;
  margin-top: 1em;
  padding: 0em 0.6em;
  color: rgb(var(--borderColor));
}

/*Individual*/

.slotActivator {
  display: none;
}

.slot {
  position: relative;
  border-radius: 10px;
  padding: 0.4em 0.8em 0.8em 0.8em;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);

  transition: padding 0.2s ease-out;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  user-select: none;

  min-width: 16.2em;
}

.slot__title {
  display: inline-block;
  font-size: 1.6em;
  margin-bottom: 0.1em;
  font-family: "Antic Slab", serif;
  color: rgb(20, 20, 20);
}

.slot__person {
  margin-bottom: 0.8em;
  color: #737b82;
}

.slot__timing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Antic Slab", serif;
}

.slot__startEnd {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slot__start,
.slot__end {
  font-size: 1.5em;
  color: rgb(20, 20, 20);
}

#slot__icon {
  font-size: 1.2em;
  margin-right: 0.4em;
  color: var(--primary);
}

.slot:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px #b6244f;
}

.slotActivator:checked + .slot {
  padding-top: 2.3em;

  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px #b6244f;
}

/*On Slot Click - Remove Items*/

.slot__meta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2em;
}

.slot__duration {
  color: white;
  padding: 0em 0.3em;
  background: #b6244f;
  border-radius: 0.25em;
}

.slot__lastActivity {
  color: #737b82;
  font-size: 0.8em;
}

.slotActivator:checked + .slot .slot__meta {
  display: none;
}

/*On Slot Hover - Add Items*/

#slot__delete {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.2em;
  cursor: pointer;
  display: none;
  color: red;
  pointer-events: inherit;
  background: transparent;
  border: none;
  outline: none;
}

.slot__edit {
  border-radius: 3px;
  position: absolute;
  top: 0.5em;
  left: 0.8em;
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2em 0.3em 0.2em 0;

  font-size: 1em;

  border: 1px solid #4d5256;
  font-family: "Antic Slab", serif;
  outline: none;
  cursor: pointer;
  background: #303336;
  background: #34386b;
  color: white;
}

.slot__edit p {
  padding: 0;
  margin: 0;
}

.slot__edit i {
  margin: 0 0.4em;
}

.slotActivator:checked + .slot #slot__delete {
  display: block;
}

.slotActivator:checked + .slot .slot__edit {
  display: flex;
}

/*Empty slot message*/

.weekday__empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
}

.weekday__empty > span {
  margin-bottom: 0.5em;
  color: #b6244f;
  letter-spacing: 0.08em;
}

/*Animating Caraousel*/

.right-enter {
  opacity: 0;
  transform: translateX(30px);
}
.right-enter-active {
  opacity: 1;
  transition: all 300ms ease-in;
  transform: translateX(0px);
}

.left-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.left-enter-active {
  opacity: 1;
  transition: all 300ms ease-in;
  transform: translateX(0px);
}

/*.item-appear {
  opacity: 0;
}

.item-appear-active {
  opacity: 1;
  transition: all 300ms ease-in;
}*/
